<div class="row mx-3">
    <div class="col-12 col-md-4">
        <h2 class="mt-0 mt-md-3">Transacciones</h2>
    </div>
    <div class="col-12 col-md-8">
        <app-filters></app-filters>
    </div>
</div>

<ng-container *ngIf="transactions$ | async as transactions">
    <app-general-stats [transactions]="transactions"></app-general-stats>

    <div class="row mx-3">
        <div class="col-12">
            <ag-grid-angular
                style="height: 50vh;"
                class="w-100 ag-theme-alpine"
                [rowData]="transactions$ | async"
                [columnDefs]="columnDefs">
            </ag-grid-angular>
        </div>
    </div>
</ng-container>

