
<div class="modal fade" #transactionDetail id="transactionDetail" tabindex="-1" aria-labelledby="transactionDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div *ngIf="transaction$ | async as transaction" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transactionDetailLabel">Detalle de transacción</h5>
                <a class="btn-close" routerLink="/transacciones" aria-label="Close" (click)="onClose()"></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-7">
                        <div class="row">
                            <div class="col-7 mb-3">
                                <label for="fechaRegistro" class="form-label">Fecha registro</label>
                                <input type="text" class="form-control" id="fechaRegistro" [ngModel]="transaction.createdAt | date: 'dd/MM/yyyy' " disabled>
                            </div>
                            <div class="col-5 mb-3">
                                <label for="tipoTransaccion" class="form-label">Tipo</label>
                                <input type="text" class="form-control" id="tipoTransaccion" [ngModel]="transaction.type" disabled>
                            </div>

                            <div class="col-12 mb-3" *ngIf="transaction.client.name != ''">
                                <label for="clientName" class="form-label">Cliente</label>
                                <textarea name="clientName" class="form-control" id="clientName" cols="30" rows="3" [ngModel]="transaction.client.name" disabled></textarea>
                            </div>

                            <div class="col-12 mb-3" *ngIf="transaction.car.summary != ''">
                                <label for="carro" class="form-label">Carro (Marca | Modelo | Placa )</label>
                                <input type="text" class="form-control" id="carro" [ngModel]="transaction.car.summary" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">P. Unit.</th>
                                    <th scope="col">Cant.</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of transaction.items">
                                    <tr>
                                        <td colspan="3">{{ item.product.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ (item.subtotal / item.quantity) | number:'0.2-2' }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.subtotal | number:'0.2-2' }}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <a routerLink="/transacciones" class="btn btn-secondary px-3" (click)="onClose()">Cerrar</a>
                <div class="d-inline-block">
                    <ng-container *ngIf="transaction.type == 'COTIZACION'">
                        <a [routerLink]="['/pos']" [queryParams]="{ quotation: transaction._id }" class="btn btn-info px-3 me-2">Cargar venta</a>
                    </ng-container>
                    <ng-container *ngIf="transaction.isPrintable">
                        <a target="_blank" [href]="transaction.printUrl" class="btn btn-success px-3">Imprimir</a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
