<swal
    #succcessRegistrationAlert
    title="Completado"
    text="Se registró el usuario exitosamente."
    icon="success"
    confirmButtonText="Aceptar"
    [showCancelButton]="false">
</swal>

<swal
    #errorRegistrationAlert
    title="Algo salió mal"
    text="Ocurrió un error al registrar el usuario."
    icon="error"
    confirmButtonText="Aceptar"
    [showCancelButton]="false">
</swal>

<div [formGroup]="userForm" class="modal fade" #form tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de usuarios</h5>
                <a class="btn-close" routerLink="/transacciones" aria-label="Close" (click)="onClose()"></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-7">
                        <div class="row">

                            <div class="col-12 mb-3">
                                <label for="username" class="form-label">Usuario</label>
                                <input type="text" class="form-control" [class.is-valid]="username.valid && username.touched" [class.is-invalid]="(username.invalid && username.touched) || userForm.errors?.['usernameAlreadyExists']" id="username" autocomplete="off" formControlName="username">
                                <ng-container *ngIf="username.invalid && username.touched">
                                    <div *ngIf="username.errors?.['required']" class="invalid-feedback">
                                        Nombre de usuario requerido.
                                    </div>
                                </ng-container>

                                <div *ngIf="userForm.errors?.['usernameAlreadyExists']" class="invalid-feedback d-block">
                                    El nombre de usuario ya existe.
                                </div>
                            </div>

                            <div class="col-12 mb-3">
                                <label for="name" class="form-label">Nombre y Apellidos</label>
                                <input type="text" class="form-control" [class.is-valid]="name.valid && name.touched" [class.is-invalid]="name.invalid && name.touched" id="name" formControlName="name" autocomplete="off">

                                <ng-container *ngIf="name.invalid && name.touched">
                                    <div *ngIf="name.errors?.['required']" class="invalid-feedback">
                                        Nombres y apellidos requerido.
                                    </div>
                                </ng-container>
                            </div>

                            <hr>

                            <div class="col-12 mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="text" class="form-control" [class.is-valid]="password.valid && password.touched" [class.is-invalid]="password.invalid && password.touched" id="password" formControlName="password" autocomplete="off">

                                <ng-container *ngIf="password.invalid && password.touched">
                                    <div *ngIf="password.errors?.['required']" class="invalid-feedback">
                                        Contraseña requerida.
                                    </div>
                                </ng-container>
                            </div>

                            <div class="col-12 mb-3">
                                <label for="confirmPassword" class="form-label">Repetir contraseña</label>
                                <input type="text" class="form-control" [class.is-valid]="confirmPassword.valid && confirmPassword.touched" [class.is-invalid]="(confirmPassword.invalid && confirmPassword.touched) || userForm.errors?.['notSame']" id="confirmPassword" formControlName="confirmPassword" autocomplete="off">

                                <ng-container *ngIf="confirmPassword.invalid && confirmPassword.touched">
                                    <div *ngIf="confirmPassword.errors?.['required']" class="invalid-feedback">
                                        Se debe confirmar la contraseña.
                                    </div>
                                </ng-container>

                                <div *ngIf="userForm.touched && userForm.errors?.['notSame']" class="invalid-feedback">
                                    La contraseñas no coinciden.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <h5 class="mb-3">Permisos adicionales:</h5>

                        <div class="row" formArrayName="permissions">
                            <div *ngFor="let permission of availablePermissions; let i = index" class="col-12 mb-2">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" [formControlName]="i" [id]="'permission_' + i">
                                <label class="form-check-label" [for]="'permission_' + i">
                                  {{ permission | labelizePermission }}
                                </label>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <a routerLink="/usuarios" class="btn btn-secondary px-3" (click)="onClose()">Cerrar</a>
                <button type="button" class="btn btn-success px-3" (click)="onSubmit()" [disabled]="userForm.invalid">Guardar</button>
            </div>
        </div>
    </div>
</div>
