<div class="card" style="height: 100%; max-height: 100%; overflow: hidden;">
    <div class="card-header bg-white">
        <div class="row mt-2">
            <div class="col-12">
                <input #searchInput type="text" class="form-control" [(ngModel)]="search" placeholder="Buscar producto...">
            </div>
            <div class="col-12 " style="overflow-x: auto;">
                <div class="btn-group btn-group-sm mt-2" role="group" aria-label="Basic outlined example">
                    <ng-container *ngFor="let c of categories$ | async">
                        <app-category-btn [category]="c" [active]="activeCategory" (onClick)="onChooseCategory($event)"></app-category-btn>    
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <cdk-virtual-scroll-viewport itemSize="150" class="products-viewport">
                <div *cdkVirtualFor="let p of products$ | async; trackBy: trackByProductId" class="col-12 mb-2 px-2">
                    <app-product [product]="p"></app-product>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>
