<div class="row justify-content-between mx-4 mt-3">
  <div class="col-6 col-lg-3 px-2">
    <div class="card text-white bg-gradient bg-danger mb-3">
      <div class="card-header">VENTAS</div>
      <div class="card-body">
        <h5 class="fs-2 text-center fw-bold">S/ {{ total }}</h5>
      </div>
    </div>
  </div>

  <div class="col-6 col-lg-3 px-2">
    <div class="card text-white bg-gradient bg-info mb-3">
      <div class="card-header">TRANSACCIONES</div>
      <div class="card-body">
        <h5 class="fs-2 text-center fw-bold">{{ count }}</h5>
      </div>
    </div>
  </div>

  <div class="col-6 col-lg-3 px-2">
    <div class="card text-white bg-gradient bg-success mb-3">
      <div class="card-header">UNIDADES</div>
      <div class="card-body">
        <h5 class="fs-2 text-center fw-bold">{{ countQuanity }}</h5>
      </div>
    </div>
  </div>

  <div class="col-6 col-lg-3 px-2">
    <div class="card text-white bg-gradient bg-warning mb-3">
      <div class="card-header">CLIENTES</div>
      <div class="card-body">
        <h5 class="fs-2 text-center fw-bold">{{ countUniqueClients }}</h5>
      </div>
    </div>
  </div>
</div>
