<div class="row">
    <div class="col-12 col-md-5">
        <label class="mt-2" for="filterDesde">Desde:</label>
        <input type="date" class="form-control" id="filterDesde" placeholder="Jane Doe">
    </div>
    <div class="col-12 col-md-5">
        <label class="mt-2" for="filterHasta">Hasta:</label>
        <input type="date" class="form-control" id="filterHasta" placeholder="Jane Doe">
    </div>
    <div class="col-12 col-md-2 d-grid gap-2">
        <button type="button" class="btn btn-success mt-2">Aplicar</button>
    </div>
</div>
