<div class="container-fluid">
  <header class="d-none d-md-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-2 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="assets/img/logo.jpeg" alt="Logo" width="60" height="32" class="me-2">
      <span class="fs-4">Wagner Automotriz</span>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/pos" routerLinkActive="link-primary" class="nav-link link-secondary px-2">Punto de venta</a></li>
      <li><a *ngIf="canViewTransactions" routerLink="/transacciones" routerLinkActive="link-primary" class="nav-link link-secondary px-2">Transacciones</a></li>
      <li><a *ngIf="canViewUsers" routerLink="/usuarios" routerLinkActive="link-primary" class="nav-link link-secondary px-2">Usuarios</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-danger" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Salir</button>
    </div>
  </header>

  <router-outlet></router-outlet>
</div>


<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#468ac2" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
