@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
/* You can add global styles to this file, and also import other style files */

$primary: #03045E;
$secondary: #B7B6C1;
$success: #2CA58D;
$info: #468AC2;
$warning: #FCA311;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

@import "bootstrap/scss/bootstrap.scss";
