<swal
    #successRegistrationAlert
    title="Completado"
    text="La transacción se registró correctamente"
    icon="success"
    confirmButtonText="Continuar">
</swal>

<swal
    #errorRegistrationAlert
    title="Ocurrió un error"
    text="Por favor, inténtelo otra vez"
    icon="error"
    confirmButtonText="Aceptar">
</swal>

<swal
    #cleanDetailConfirmation
    title="Remover todos los items?"
    icon="question"
    confirmButtonText="Remover">
</swal>

<ng-container [ngSwitch]="transaction.type">
    <button *ngSwitchCase="'COBRADO'" type="button" class="h-100 w-100 btn btn-success fs-5" (click)="register()" [disabled]="disabled">
        <i class="bi bi-check"></i> {{ confirmationLabel }}
    </button>
    <button *ngSwitchCase="'CREDITO'" type="button" class="h-100 w-100 btn btn-success fs-5" (click)="launchModal(registerCreditoModal)" [disabled]="disabled">
        <i class="bi bi-check"></i> {{ confirmationLabel }}
    </button>
    <button *ngSwitchCase="'COTIZACION'" type="button" class="h-100 w-100 btn btn-success fs-5" (click)="launchModal(registerCotizacionModal)" [disabled]="disabled">
        <i class="bi bi-check"></i> {{ confirmationLabel }}
    </button>
</ng-container>


<div class="modal fade" tabindex="-1" aria-hidden="true" #registerCreditoModal>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerBackdropLabel">Registrar transacción</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="clientName" class="form-label">Cliente:</label>
                        <input type="text" class="form-control disabled" id="clientName" placeholder="" [(ngModel)]="transaction.client.name" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="register()">Registrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" aria-hidden="true" #registerCotizacionModal>
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Registrar transacción</h5>
            <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div *ngIf="warnings.length > 0" class="col-12">
                    <div class="alert alert-warning" role="alert">
                        <strong>Advertencia:</strong> Los siguientes productos no cuentan con el stock necesario:
                        <ul>
                            <li *ngFor="let warn of warnings">{{ warn }}</li>
                        </ul>
                    </div>
                </div>

                <h5>Cliente</h5>

                <div class="col-12 mt-2 mb-3">
                    <ng-select [items]="clients$ | async" bindValue="_id" [addTag]="true" addTagText="Registrar nuevo cliente" placeholder="Seleccione una opción" (change)="onChangeClient($event)">
                    </ng-select>
                </div>

                <div class="col-12 mb-3" [ngClass]="{'d-none': transaction.client._id === ''}">
                    <label for="clientName" class="form-label">Razón social:</label>
                    <input type="text" class="form-control disabled" id="clientName" placeholder="" [(ngModel)]="transaction.client.name" autocomplete="off">
                </div>

                <div class="col-12 mb-3" [ngClass]="{'d-none': transaction.client._id === ''}">
                    <label for="clientPhone" class="form-label">Telefono:</label>
                    <input type="text" class="form-control disabled" id="clientPhone" placeholder="" [(ngModel)]="transaction.client.phone" autocomplete="off">
                </div>

                <div class="col-12">
                    <h5>Datos de vehículo</h5>
                </div>
                
                <div class="col-8 mb-3">
                    <label for="carBrand" class="form-label">Marca:</label>
                    <input type="text" class="form-control" id="carBrand" [(ngModel)]="transaction.car.brand" placeholder="" autocomplete="off">
                </div>

                <div class="col-4 mb-3">
                    <label for="carPlate" class="form-label">Año:</label>
                    <input type="text" class="form-control" id="carPlate" [(ngModel)]="transaction.car.year" placeholder="" autocomplete="off">
                </div>

                <div class="col-7 mb-3">
                    <label for="carModel" class="form-label">Modelo:</label>
                    <input type="text" class="form-control" id="carModel" [(ngModel)]="transaction.car.model" placeholder="" autocomplete="off">
                </div>

                <div class="col-5 mb-3">
                    <label for="carPlate" class="form-label">Placa:</label>
                    <input type="text" class="form-control" id="carPlate" [(ngModel)]="transaction.car.plate" placeholder="" autocomplete="off">
                </div>

                <div class="col-12">
                    <label for="carModel" class="form-label">Nota:</label>
                    <textarea name="note" id="note" cols="30" rows="3" class="form-control" [(ngModel)]="transaction.note" autocomplete="off"></textarea>
                </div>

            </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="register()">Registrar</button>
        </div>
        </div>
    </div>
</div>
