<div class="card" style="height: 100%;">
    <div class="card-body" style="overflow: hidden;">
        <div class="mb-3">
            <label for="searchCode" class="form-label">Buscar por código de barras</label>
            <div class="input-group">
                <input type="email" class="form-control" id="searchCode" placeholder="Ingrese código">
                <button class="btn btn-info" type="button"><i class="bi bi-search"></i> Buscar</button>
              </div>
        </div>

        <hr>

        <div class="row mb-2 fw-bold border py-2 bg-light my-2 mx-2">
            <div class="col-1">#</div>
            <div class="col-5">Descripción</div>
            <div class="col-2">Cant.</div>
            <div class="col-2">Dscto.</div>
            <div class="col-2">Total</div>
        </div>
        
        <div style="height: calc(100% - 240px); overflow-x: hidden; overflow-y: scroll;">
            <div *ngFor="let item of items; let i = index" class="my-2 mx-2">
                <app-item [index]="i"></app-item>
            </div>
        </div>

        <hr>

        <div class="row mt-2">
            <div class="col-12 text-center display-5">
                <span>Total: S/ <strong>10000.00</strong></span>
            </div>
        </div>
    </div>
</div>
