<div class="col-12 mt-4">
  <button type="button" class="btn btn-lg btn-info w-100 mb-3" (click)="enableCapture()"><i class="bi bi-search"></i> Capturar</button>
  <button type="button" class="btn btn-lg btn-primary w-100 mb-3" (click)="syncRequest()"><i class="bi bi-arrow-repeat"></i> Sincronizar</button>
</div>

<div *ngIf="product$ | async as product; else productNotFound" class="row d-flex justify-content-center d-md-none">
    <div class="col-md-12 mt-3">
        <label for="smProductCode" class="form-label">CODIGO</label>
        <input type="text" class="form-control" id="smProductCode" [value]="product._id" disabled>
      </div>
      <div class="col-md-6 mt-3">
        <label for="smProductDescription" class="form-label">DESCRIPCIÓN</label>
        <textarea name="smProductCode" id="smProductDescription" cols="30" rows="3" class="form-control" disabled>{{ product.name }}</textarea>
      </div>
      <div class="col-md-6 mt-3">
        <label for="smProductPrecio" class="form-label">PRECIO</label>
        <input type="text" class="form-control" name="smProductPrecio" id="smProductPrecio" [value]="product.price" disabled>
      </div>
      <div class="col-md-6 mt-3">
        <label for="smProductCantidad" class="form-label">STOCK DISPONIBLE</label>
        <input type="text" class="form-control" name="smProductCantidad" id="smProductCantidad" [value]="product.quantity" disabled>
      </div>
      <div class="col-md-6 mt-3">
        <label for="smProductReadAt" class="form-label">ÚLTIMA LECTURA</label>
        <input type="text" class="form-control" name="smProductReadAt" id="smProductReadAt" [value]="lastRead " disabled>
      </div>
</div>

<ng-template #productNotFound>
  <div class="alert alert-warning d-flex align-items-center mt-3" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      El último producto escaneado no ha sido encontrado. La lectura fue <strong>{{ lastRead }}</strong>
    </div>
  </div>
</ng-template>


<ng-container *ngIf="currentTransaction">
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 30%;" scope="col">Precio</th>
        <th style="width: 35%;" scope="col">Cantidad</th>
        <th style="width: 35%;" scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of currentTransaction.items; let i = index">
        <tr [ngClass]="{'table-secondary': i % 2 != 0}">
          <td class="fw-bold" [ngClass]="{'table-warning': item.product.quantity < 5 }">Stock: {{ item.product.quantity }}</td>
          <td colspan="2">{{ item.product.name }}</td>
        </tr>
        <tr [ngClass]="{'table-secondary': i % 2 != 0}">
          <td>S/ {{ item.product.price }}</td>
          <td>{{ item.quantity }}</td>
          <td class="fw-bold">S/ {{ item.subtotal }}</td>
        </tr>
        <tr [ngClass]="{'table-secondary': i % 2 != 0}">
          <td>
            <button type="button" class="btn btn-info w-100" (click)="plusOne(item.product._id)"><i class="bi bi-plus"></i></button>
          </td>
          <td>
            <button type="button" class="btn btn-info w-100" (click)="minusOne(item.product._id)"><i class="bi bi-dash"></i></button>
          </td>
          <td>
            <button type="button" class="btn btn-danger w-100" (click)="remove(item.product._id)"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" class="fw-bold">Total sin I.G.V</td>
        <td class="fw-bold">S/ {{ currentTransaction.total }}</td>
      </tr>
      <tr class="table-info">
        <td colspan="2" class="fw-bold">Total con I.G.V</td>
        <td class="fw-bold">S/ {{ currentTransaction.totalWithTaxes }}</td>
      </tr>
    </tfoot>
  </table>
</ng-container>

<div class="col-12 mt-3">
  <button type="button" class="btn btn-lg btn-danger w-100" (click)="cancel()"><i class="bi bi-x-octagon"></i> Cancelar venta</button>
</div>

<div class="col-12 mt-4">
  <button type="button" class="btn btn-lg btn-warning w-100 mb-3" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Salir</button>
</div>

