<swal
    #lowStockAlert
    title="Producto sin stock"
    text="Desea agregar de todas maneras?"
    icon="error"
    cancelButtonText="Ignorar"
    [showCancelButton]="true"
    confirmButtonText="Agregar"
    [focusCancel]="true">
</swal>


<swal
    #exceededStockAlert
    title="No hay más unidades"
    text="Desea agregar de todas maneras?"
    icon="warning"
    cancelButtonText="Ignorar"
    [showCancelButton]="true"
    confirmButtonText="Continuar"
    [focusCancel]="true">
</swal>

<div class="row mx-3" style="height: calc(100vh - 120px); overflow: hidden;">
    <div class="col-12 col-md-7" style="overflow-x: hidden; height: 100%;">
        <app-summary (onRegisterSuccess)="products.refreshProducts()"></app-summary>
    </div>
    <div class="col-12 col-md-5" style="overflow-x: hidden; height: 100%;">
        <app-products #products></app-products>
    </div>
</div>
